.featured-item {
  background-image: url('../assets/home/featured.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed; 
  position: relative;
  width: 100%;
}


.featured-item::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6); 
  z-index: 1;
}


.featured-item > * {
  position: relative;
  z-index: 2;
}

.featured-item .section-title-white h1{
  color: #ffffff !important;
  border-color: #ffffff !important;
}
@media (max-width: 768px) {
  .featured-item {
    background-attachment: scroll;
  }
}